.product {
  border: 1px solid;
  border-radius: 10px;
  padding: 20px 40px;
  box-shadow: 0 0 3px 5px hsla(0, 66%, 78%, 0.836);
  display: flex;
  justify-content: space-around;
  width: 60rem;
  margin-top: 20px;
}

.container {
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #ffffff;
}

.button {
  color: #065f46;
  background-color: #fff;
  border: 1px solid #065f46;
  border-radius: 10px;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}

.inc {
  background-color: #d1fae5;
}

.value {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #6ee7b7;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.input {
  outline: none;
  border: 1px solid #6ee7b7;
  border-radius: 5px;
  padding: 5px 2px;
  color: #065f46;
}
input:focus {
  border: 2px solid #065f46;
}
